    .container {
    display: flex;
    max-width: 1000px;
    margin: 0 auto;
    align-items: end;
}
    .top_btn {
    display: flex;
    gap: 32px;
    }
    
    .contact_form {
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.form_controller{
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
    
    }

    .form_controller input{
    padding: 5px 8px;
    height: 40px;
    }
    
    .form_controller label{
        position: absolute;
        top: -12px;
        left: 10px;
        padding: px 8px;
        background-color: white;
        font-size: 16px;
        /* z-index: -1; */
    }
    .contact_form form{
        display: flex;
        gap: 20px;
        flex-direction: column;
    }
    .form_controller textarea{
        padding: 25px 10px;
        
    }

    .submit{
        display: flex;
        justify-content: end;
    }

        .result {
    display: flex;
    max-width: 1000px;
    /* margin: 0 auto; */
    align-items: start;
        }